.header {
  position: relative;

  & .container {
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 28px 16px;

    border-bottom: 1px solid var(--clr-border);

    background-color: var(--clr-bg);

    @include tablet {
      align-items: baseline;
    }
  }
}

.header__logo {
  font-size: 24px;
  line-height: 1.36;
  color: var(--clr-border);

  cursor: pointer;
  @include tablet {
    font-size: 32px;
  }
  @include desktop {
    font-size: 42px;
  }
}

.nav__wrap {
  display: flex;
  // z-index: 99;
  gap: 8px;

  @include tablet {
    gap: 32px;
  }

  @include desktop {
    gap: 90px;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include tablet {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  @include desktop {
    gap: 70px;
  }
}

.nav__item {
  position: relative;
  display: flex;
  padding: 6 16px;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: var(--clr-bg-menu-hover);

    .nav__icon {
      stroke: var(--clr-pag-bg);
    }
  }

  @include tablet {
    padding: 0;

    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
}

.is-active {
  .nav__wrap &:after {
    position: absolute;
    content: '';
    top: calc(100% + 8px);
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--clr-is-active-border);
  }

  .mobile__container & {
    background-color: var(--clr-bg-menu-hover);

    & .nav__svg--chevron {
      stroke: var(--clr-pag-bg);
    }
  }
}

.nav__item-wrap {
  display: flex;
  align-items: center;
  gap: 14px;

  @include tablet {
    gap: 0;
  }
}

.nav__icon {
  // stroke: var(--clr-pag-border);
  transition: stroke 250ms linear;
}

.nav__svg {
  display: block;

  &--chevron {
    stroke: var(--clr-chevron);
  }

  @include tablet {
    display: none;
  }
}

.nav__title {
}

.nav__link {
  font-size: 16px;
  line-height: 1.39;
  color: var(--clr-border);

  @include tablet {
    font-size: 16px;
  }

  @include desktop {
    font-size: 18px;
  }
}

.switch__wrap {
}

.switch__theme {
  display: flex;
  gap: 12px;
  padding: 0 16px;
  cursor: pointer;

  @include tablet {
    padding: 0;
    gap: 9px;
  }

  @include desktop {
    gap: 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
  }
}

.switch__left {
  display: none;
  color: var(--clr-switch-light);

  @include desktop {
    display: block;
  }
}

.switch__right {
  display: none;
  color: var(--clr-switch-dark);

  @include desktop {
    display: block;
  }
}

.switch__img {
}

.switch__sun {
  stroke: var(--clr-stroke-sun);
  display: block;

  @include desktop {
    display: none;
  }
}

.switch__moon {
  stroke: var(--clr-stroke-moon);
  display: block;

  @include desktop {
    display: none;
  }
}

.switch__toogle {
  position: relative;
  width: 40px;
  height: 20px;
}

.switch__toogle--ground {
  position: absolute;
  left: 0;
  top: 0px;
  fill: var(--clr-fill-toogle-ground);
}

.switch__toogle--border {
  position: absolute;
  left: 0;
  top: 0;
  stroke: var(--clr-stroke-toogle-border);
}

.switch__toogle--circle {
  position: absolute;
  left: 2px;

  .dark-mode & {
    left: auto;
    right: 2px;
  }

  top: 50%;
  transform: translateY(-50%);
  fill: var(--clr-fill-toogle-circle);
}

.search__label {
  position: relative;
  display: flex;
  align-items: center;

  width: 50px;
  overflow: hidden;

  border: none;
  border-radius: 20px;

  transition: width 250ms linear, border 250ms linear;

  &:focus-within {
    width: 173px;
    border: 1px solid var(--clr-border);
  }

  @include tablet {
    margin-right: 0;
    width: 213px;

    border: 1px solid var(--clr-border);

    &:focus-within {
      width: 213px;
    }
  }

  @include desktop {
    width: 288px;
    &:focus-within {
      width: 288px;
    }
  }
}

.search__line {
  display: block;
  padding-left: 48px;
  padding-right: 20px;
  width: 100%;

  background-color: inherit;
  font-family: 'Popins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: var(--clr-border);
  opacity: 0.4;

  &::placeholder {
    text-align: left;
  }
}

.search__ico {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--clr-border);
}

.mobile__btn {
  display: block;
  width: 30px;
  height: 30px;

  cursor: pointer;
  @include tablet {
    display: none;
  }
}

.mobile__svg {
  display: block;
  width: 100%;
  height: 100%;
}

.icon-cross {
  display: block;
  stroke: var(--clr-border);

  @include tablet {
    display: none;
  }
}

.icon-menu {
  display: block;
  stroke: var(--clr-border);

  @include tablet {
    display: none;
  }
}

.container.header__container {
  position: relative;
  z-index: 999;
}

.mobile__wrap {
  position: absolute;
  z-index: auto;

  background-color: var(--clr-bg);

  top: calc(-1 * (100vh - 81px)); //100%;
  left: 0;
  right: 0;
  height: calc(100vh - 95px);

  transition: transform 500ms linear;

  &.is-open {
    transform: translateY(calc(100% + 105px));
  }
}

.mobile__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  margin: 0 auto;
  padding-top: 44px;
  padding-bottom: 18px;
  background-color: var(--clr-bg);

  @include mobile {
    width: $mobile;
  }
}

.mobile_menu--open {
}
